<form [formGroup]="form" (ngSubmit)="submit()">
  <h2 class="text-center">Add product</h2>

  <div class="form-control">
    <label for="type">Type</label>
   <select formControlName="type" id="type">
     <option value="Phone">Phone</option>
     <option value="Tablet">Tablet</option>
     <option value="Laptop">Laptop</option>
   </select>
    <div *ngIf="type?.touched && type?.invalid" class="validation">
      <small *ngIf="type?.errors?.['required']">Chose product type</small>
    </div>
  </div>

  <div class="form-control">
    <label for="title">Name</label>
    <input id="title" type="title" formControlName="title">
    <div *ngIf="title?.touched && title?.invalid" class="validation">
      <small *ngIf="title?.errors?.['required']">Enter product name</small>
    </div>
  </div>

  <div class="form-control">
    <label for="photo">Photo:</label>
  <quill-editor formControlName="photo" id="photo" [modules]="modules"></quill-editor>
  </div>

  <div class="form-control">
    <label for="info">Information:</label>
    <quill-editor formControlName="info" id="info"></quill-editor>
  </div>

  <div class="form-control">
    <label for="price">Price</label>
    <input id="price" type="price" formControlName="price">
    <div *ngIf="price?.touched && price?.invalid" class="validation">
      <small *ngIf="price?.errors?.['required']">Enter price</small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submited">Add product</button>
</form>
